.pokemon-card {
    width: 250px;
    min-height: 450px;
    padding: 15px;
    border: 1px solid #30ebbc;
    border-radius: 10px;
    text-align: center;
  }
  
  .pokemon-card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }

  .pokemon-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    gap: 20px;
    padding: 20px;
}